
body {
    font-size: large;
    color: #333e38;
    background-color: #ffffff;
    line-height: 1.8;
}

#name {font-size:18px;}

a {
    color: #0065bd;
    text-decoration: underline;
}

a:focus {
    background-color: #fdd522 !important;
    color: #333e38 !important;
    outline-offset: 0;
    transition-duration: 0s;
}

.btn-primary {
    color: #fff;
    font-size: large;
    background-color: #808080;
    border-color: #4B4B4B;
}
.btn-primary:hover {
    color: #fff;
    font-size: large;
    background-color: #B9B9B9;
    border-color: #4B4B4B;
}
    

.btn-primary.active:hover {
    color: #fff;
    font-size: large;
    background-color: #2E8ACA;
    border-color: #204d74;
}
.btn-primary:active {
    color: #fff;
    font-size: large;
    background-color: #00587C;
    border-color: #204d74;
}